@using Microsoft.Extensions.Options;
@using AspNetCoreInjectConfigurationRazor.Configuration;

@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

@{
    ViewData["Title"] = "Home Page";
}

<h2>Injected properties direct from configuration file:</h2>
<ol>
    <li>@OptionsApplicationConfiguration.Value.ApplicationHostUrl</li>
    <li>@OptionsApplicationConfiguration.Value.RestServiceTwo</li>
</ol>


@*Could be used in an SPA app using hidden inputs*@
<input id="ApplicationHostUrl" name="ApplicationHostUrl" type="hidden" value="@OptionsApplicationConfiguration.Value.ApplicationHostUrl"/>
<input id="RestServiceTwo" name="id="RestServiceTwo" type="hidden" value="@OptionsApplicationConfiguration.Value.RestServiceTwo" />